
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


H1{
    background-color:#4cd2c4;
    color: black;
    font-size: larger;
    text-align: center;
}

h3{
    display: block;
    height: 30px;
    margin-top: 20px;
    text-align: center;
    background-color: #4cd2c4;


}


body{
    height: 100%;
    background: firebrick;
}

.container{
    background-color: #fff;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow:15px 30px 35px white;
    border-radius: 10px;
    perspective: 300px;

}
.stats{
    text-align: right;
    color: blue;
    font-weight: 500;
    line-height: 25px;
}

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    transform-style:preserve-3d;
}

.zahl{
    transform: rotateX(180deg);
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.coin img{
    width: 145px;
}


.kopf, .zahl{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}


button{
    width: 120px;
    padding: 10px 5px;
    border: 5px solid rebeccapurple;
    border-radius: 10px;
    cursor: pointer;
}


#flib-button{
    background-color:green;
    color: white;
}



#flib-button:disabled{
    background-color: yellow;
    color: black;
    border-radius: 5px;
    opacity: 0.6;
}

#reset-button{
    background-color: red;
    color: #eeeeee;
}


@keyframes spin-kopf {
    0%{
        transform:rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}

@keyframes spin-zahl {
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}